<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius: 56px; padding: 0.3rem">
      <div class="flex align-items-center justify-content-center">
        <h3>Acceso usuario</h3>
      </div>

      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div>
          <label
            for="user-selector"
            class="block text-900 text-xl font-medium mb-2"
            >Usuario</label
          >
          <div id="user-selector" class="w-full md:w-30rem mb-2">
            <p-dropdown
              [options]="usersMock"
              [(ngModel)]="selectedUser"
              optionLabel="name"
              [style]="{ width: '100%' }"
              [filter]="false"
              [showClear]="true"
              placeholder="Selecciona un usuario"
            ></p-dropdown>
          </div>

          <div
            class="flex align-items-center justify-content-center mt-5 mb-5 gap-5"
          >
            <div *ngFor="let number of password.toString().split('')">
              <i class="pi pi-circle-on"></i>
            </div>
          </div>

          <div id="pin" class="pin-grid">
            <div
              *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
              class="pin-button"
            >
              <button
                pButton
                (click)="onPinClick(number)"
                [disabled]="!selectedUser || password.toString().length === 4"
              >
                {{ number }}
              </button>
            </div>
            <div class="pin-button">
              <button
                pButton
                (click)="onLoginClick()"
                class="p-button-success"
                [disabled]="!selectedUser || password.toString().length < 4"
              >
                <i class="pi pi-sign-in" style="font-size: 2rem"></i>
              </button>
            </div>
            <div class="pin-button">
              <button
                pButton
                (click)="onPinClick(0)"
                [disabled]="!selectedUser || password.toString().length === 4"
              >
                0
              </button>
            </div>
            <div class="pin-button">
              <button
                pButton
                (click)="onDeleteClick()"
                class="p-button-danger"
                [disabled]="!password.toString().length || !selectedUser"
              >
                <i class="pi pi-delete-left" style="font-size: 2rem"></i>
              </button>
            </div>
          </div>

          <div
            class="flex align-items-center justify-content-between mb-5 gap-5"
          ></div>
        </div>

        <div class="flex align-items-center justify-content-center mt-5">
          <a
            [routerLink]="'/admin-login'"
            class="text-900 text-l font-medium hover:underline"
            >Acceso administrador</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
