<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius: 56px; padding: 0.3rem">
      <div class="flex align-items-center justify-content-center">
        <h3>Acceso usuario</h3>
      </div>

      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <form [formGroup]="loginForm">
          <label
            for="user-selector"
            class="block text-900 text-xl font-medium mb-2"
          >
            Usuario
          </label>
          <div id="user-selector" class="w-full md:w-30rem mb-2">
            <p-dropdown
              *ngIf="(loading$ | async) === false"
              [options]="(activeWorkers$ | async)!"
              optionLabel="label"
              [style]="{ width: '100%' }"
              [filter]="false"
              [showClear]="true"
              placeholder="Selecciona un usuario"
              [optionValue]="'username'"
              formControlName="username"
            ></p-dropdown>
          </div>

          <div
            class="flex align-items-center justify-content-center mt-5 mb-5 gap-5"
            style="min-height: 18.5px"
          >
            <div
              *ngFor="let number of loginForm.get('password')?.value?.split('')"
            >
              <i class="pi pi-circle-on"></i>
            </div>
          </div>

          <app-numeric-pad [maxLength]="4" formControlName="password">
            <button
              pButton
              class="p-button-success"
              [disabled]="loginForm.invalid"
              style="width: 65px; height: 65px"
              (click)="onLoginClick()"
            >
              <i class="pi pi-sign-in" style="font-size: 2rem"></i>
            </button>
          </app-numeric-pad>

          <div
            class="flex align-items-center justify-content-between mb-5 gap-5"
          ></div>
        </form>

        <div class="flex align-items-center justify-content-center mt-5">
          <a
            [routerLink]="'/admin-login'"
            class="text-900 text-l font-medium hover:underline"
          >
            Acceso administrador
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
